.logo-container {
    grid-area: logo;
    background-color: black;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

}

.logo-img {
    transform: scale(40%);
}

.logo-home {
    transform: scale(70%);
}