.nav {
    background-color: black;
    grid-area: nav;
}

.nav>ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
}

.nav>ul>li {
    width: 100%;
    /* padding: 15%; */
    padding-left: 5%;
    padding-top: 15%;
    padding-bottom: 15%;
    display: flex;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav>ul>li:hover {
    /* background-color: #4a4d53; */
    background-color: white;
    color: #1976D2;
    cursor: pointer;
}

.nav>ul>li:hover a{
    color: #1976D2;
    cursor: pointer;
}
.nav>ul>li:hover svg {
    color: #1976D2;
    cursor: pointer;
}

.nav>ul>li>* {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-icon {
    width: 20px;
    height: 20px;
}


