.pageBanner {
    text-align: left;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    
}
.banner-firstFrame {
    font-weight: bold;
    background-color: black;
    text-transform: capitalize;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 40px;
    color: white;
}

.banner-lastFrame {
    font-weight: bold;
    background-color: black;
    text-transform: capitalize;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
    padding-right: 40px;
    color: white;
}

.banner-lastFrame img {
    
     width: 50px;
     cursor: pointer;
}

.pageBanner svg {
    height: 22px;
    width: 22px;
    color: yellow;
}

.division-pagebanner {
    width: 1px;
    height: 40px;
    background-color: #cacbcc;
}

.profile-img{
    border-radius: 50px;
    outline: 1px solid white;
}