.card-form {
    width: 80%;
    height: 90%;
    margin-left: 10%;
    margin-top: 20px;
    display: grid;
    border: 1px solid black;
    border-radius: 30px;
    grid-template-rows: 30% 70%;
    background-color: #C5C5C5;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.form1 {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
    padding-left: 50px;
    margin-top: 50px;
}

.form2 {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: flex-start;
    padding-left: 50px;
}

.tables-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.table1 {
    margin-left: 50px;
    height: 90%;
    width: 100%;
    margin-top: 10px;
    position: relative;
    
}

.table-wrapper {
    border-radius: 30px;
    background-color: black;
    color: white;
    width: 100%;
    padding: 0px 20px 20px 20px;
    overflow-y: auto;
    width: 43vw;
    height: 45vh;
}

.table1 table thead {
    position: fixed;
    overflow: hidden;
    background-color: black;
    z-index: 10;
}

.table1 table th{
    min-width: 6vw;
    max-width: 6vw;
    height: 8vh;
    text-align: center;
}

.divisorTable {
    height: 1px;
    width: 40vw;
    background-color: white;
    position: absolute;
    top: 19%;
    z-index: 100;
}

.table1 table td {
    padding: 5px;
    font-size: smaller;
    min-width: 6vw;
    max-width: 6vw;
    text-align: center;
    white-space: nowrap;
}


.table2 {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.payment-wrapper {
    border: 3px solid black;
    border-radius: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    gap: 10px;
    padding-top: 20px;
}


::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: blue ;
    /* border-radius: 1ex; */
}

::-webkit-scrollbar-thumb {
    /* background: rgb(230, 229, 229); */
    background-color: rgb(122, 122, 122);
}